.hero .bg {
  background: url("images/background.png") center/cover fixed no-repeat;
}
/* ======== FEATURES ======== */
.feature-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 25px;
}
.feature-card {
  background: #151515;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 25px rgba(255, 0, 100, 0.1);
  transition: 0.3s;
}
.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 28px rgba(255, 0, 100, 0.25);
}

/* ======== TRAINING ======== */
.training-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 90%;
  margin: auto;
  text-align: center;
}

.training-card {
  background: #151515;
  padding-bottom: 20px;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.training-img {
  height: 430px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.training-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* مهم‌ترین خط */
}

.training-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 0, 100, 0.3);
}
.hero-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 30px;
  background: #ff006a;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}
